@import url('./shared.css');

section {
	display: none;
	line-height: 1.8;
	max-width: 40rem;
}

section:target {
	display: block;
}

/* Display home by default */
#home {
	display: block;
}

/* But hide it if another view is active */
section:target ~ #home {
	display: none;
}

.hero {
	--img: url('./background-lofi.jpg');
	height: 400px;
	width: 32rem;
	position: relative;
	display: flex;
}

.left, .center, .right {
	flex: 1 1 auto;
	background-image: var(--img);
	background-size: cover;
	width: 10rem;
	will-change: width, transform, box-shadow;
	transition: none 300ms ease-in-out;
	transition-property: width, transform, box-shadow;
	overflow: hidden;
	position: relative;
}

.left:hover, .center:hover, .right:hover {
	width: 100%;
	transform: scale(calc(20 / 19.75));
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
}

.left {
	margin-right: 1rem;
	background-position: 0% center;
}

.left::before, .center::before, .center::after, .right::before {
	position: absolute;
	font-size: 6rem;
	font-weight: 700;
	color: var(--action-color);
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	text-align: left;
}

.left::before {
	line-height: 6rem;
	content: 'Hi!';

	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
}

.center {
	background-position: center center;
}

.right {
	margin-left: 1rem;
	background-position: 100% center;
}

#home p {
	text-align: center;
}

#history h3 {
	margin-bottom: 0;
}

#experience dd {
	margin-bottom: 1rem;
}

#oss li {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#oss h3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#oss article {
	border-bottom: 1px solid var(--accent-color);
	margin-bottom: 1rem;
}

#oss article:last-child {
	border: 0;
	margin-bottom: 0;
}

#oss h3 img {
	height: 2rem;
	width: 2rem;
}

#technology {
	width: 100%;
}

#technology dd,
#technology ul {
	margin: 0;
	padding: 0;
}

#technology dl {
	display: grid;
	gap: 2rem;
	grid-template-columns: min-content auto;
	grid-template-rows: auto;
}

#technology ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
}

#technology li {
	display: inline-block;
	list-style: none;
	width: 200px;
	margin-inline-end: 0.25rem;
	white-space: nowrap;
}

@media screen {
	body {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 2rem);
		box-sizing: border-box;
	}

	main {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		align-items: center;
		justify-content: center;
	}

	.print-only {
		display: none;
	}
}

@media print {
	section {
		max-width: none;
	}

	#about P {
		display: inline;
		margin: 0;
	}

	#history header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	/* #oss {
		width: 100%;
	}

	#oss article {
		border: 0;
		margin: 0;
	}

	#oss article > *:not(h3) {
		display: none;
	}

	#oss h3 {
		font-size: 12pt;
		font-weight: normal;
		margin: 0;
		line-height: 1.2;
	}

	#oss h3 a::before {
		content: attr(href);
	}

	#oss h3 a img {
		display: none;
	} */

	.hero,
	.more,
	#oss,
	#experience {
		display: none !important;
	}
}