@import url('./shared.css');

header {
  display: flex;
  align-items: center;
  padding: 1em;
}

header h1 {
  flex: 1 0 auto;
  margin: 0;
}

header abbr {
  order: -1;
  font-size: 2em;
  border-right: 3px solid var(--secondary-color);
  padding: 1rem;
  margin-right: 1rem;
  line-height: 1em;
  color: var(--secondary-color);
}

header address {
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  flex: 0 1 auto;
  margin: 0 1em;
}

header address dl {
  margin: 0;
  display: grid;
  grid-template-columns: 35% 65%;
  width: 220px;
}

header address dt {
  text-align: right;
  padding-right: 0.3em;
}

header address dd {
  margin: 0;
}

header address dt::after {
  content: ':';
}

header address ul li {
  display: inline-block;
  list-style: none;
}

header address ul li:after {
  content: ' \b7 ';
}

header address ul li:last-of-type:after {
  content: '';
}

main {
  margin: 1em;
}

main section {
  line-height: 1.6;
  font-size: 1.2em;
  display: flex;
  page-break-inside: avoid;
}

main section dl {
  margin-bottom: 0;
}

main section dt {
  font-style: italic;
}

main section dd + dt {
  margin-top: 1em;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

h2 {
  flex: 0 1 200px;
  min-width: 200px;
  border-top: 3px solid var(--secondary-color);
  margin-right: 1em;
}

a {
  color: var(--action-color);
}