@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body {
    --text-color: #fff8df;
    --secondary-color: #899752;
    --background-color: #25231f;
    --action-color: #fff8df;
    --accent-color: #e0d8bf;
	
	color: var(--text-color);
	background-color: var(--background-color);
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	margin: 1rem;
	padding: 1rem;
  
	border-top: 1px solid var(--accent-color);
	border-bottom: 1px solid var(--accent-color);
}

a {
	color: var(--text-color);
}

nav {
	margin: -1rem -1rem 1rem -1rem;
}
  
nav ul {
	display: flex;
	flex-direction: row;

	padding: 1rem;
	margin: 0;
	border-bottom: 1px solid var(--accent-color);
}

nav li {
	list-style: none;
	flex: 1;
	padding: 0.5rem;
	text-align: center;
	white-space: nowrap;
	position: relative;
}

nav li::before {
	background-color: var(--accent-color);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	z-index: -1;
}

nav li:hover::before {
	opacity: 1;
}

nav li:hover a {
	color: var(--background-color);
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
}

@media print {
	nav {
		display: none;
	}

	body {
		--background-color: white;
		--text-color: black;
		font-size: 12pt;
		display: block;
	}

	main {
		align-items: start
	}

	section {
		display: block !important;
		max-width: none;
		line-height: 1.2;
	}

	h2 {
		margin-block-start: 0.5rem;
		margin-block-end: 0.5rem;
	}
	
	header h3 {
		margin-block-start: 0.5rem;
	}

	section#home {
		order: -1;
		font-size: 1.2rem;
		align-self: center;
	}
}